#algorythmSelector {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background: #eeeeee;
  color: black;
  justify-content: space-between;
}

#visualizer {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  border-radius: 5px;
}
#algorythmName {
  font-size: 24px;
  color: black;
  font-family: "Courier New", Courier, monospace;
  position: absolute;
  top: calc(50% + 500px);
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

#speed {
  width: 15%;
  color: black;
}

.speedSelector {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.speedSelector label {
  font-size: 16px;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.speedSelector input {
  width: 100%;
}
