* {
  margin: 11;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

#algorithmSelector {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
  background: #eeeeee;
  color: black;
  justify-content: space-between;
  display: block;
}

#visualizer {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 4px;
}

#algorithmName {
  font-size: 24px;
  color: black;
  position: absolute;
  top: calc(50% + 500px);
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

#speed {
  color: black;
}

.speedSelector {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 220px;
}

.speedSelector label {
  font-size: 16px;
  color: black;
}

.speedSelector input {
  width: 100%;
}

#arrayButton {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
  color: black;
  justify-content: space-between;
}
